.nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
    align-items: center;
    min-height: 8vh;
    background-color: #111111;

}

ol, ul, li, h4{
    margin: 0px;

}
.logo{
    max-width: 100%; 
    height: 6vh;
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    
    width: 55%;
}
.nav-links a{
    color: #f7f7f7;
    text-decoration: none;
    letter-spacing:2px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat'; 

}
.nav-links a:hover{
    text-decoration: underline;
}
.nav-links img{
    height: 4vh;
    margin-bottom: 1vh;
    margin-right: 1vh;
}
.nav-links li{
    list-style:none;
}
.burger div{
    width: 20px;
    height: 2px;
    background-color: #f7f7f7;
    margin: 5px;
}
.burger{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        overflow-x: hidden;
        
    }
    .nav-links{
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        transform: translateX(100%);
        background-color: #5bc0de;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
         }
    .nav-links li{
        opacity: 1;
        
    }
    ol, ul, li{
        margin-left: 0px;
    }
    .burger {
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
    }