<div class="wrapper">
<nav class="nav">
  <li>
    <img class="logo" src = "https://www.regmovies.com/xmedia/img/10110/logo.svg">
  </li>
  <ul class = "nav-links"> 
<li>
  <img src = "https://www.regmovies.com/xmedia/img/10110/locationpicker-map-marker.svg" >
  <a>XXXXXXXX,Szczecin</a>
</li>
<li>
  <img src = "https://www.regmovies.com/xmedia/img/user-icon.svg" >
  <a>Log In</a>
</li>

<li>
  <a></a>
</li>
  </ul>
  
  <div class="burger" >
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

</nav>
</div>