<div class="wrapper">
<nav class="nav">
  <div>
    <h4 class="logo">Cinema</h4>
  </div>
  <ul class="nav-links">
    <li>
      <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
    </li>
    <li>
      <a [routerLink]="['/repertuar']" routerLinkActive="router-link-active">Repertoire</a>
    </li>
    <li>
      <a [routerLink]="['/priceList']" routerLinkActive="router-link-active">Prices</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
    </li>
  </ul>
  <div class="burger" [ngClass]="{'nav-active': status == true}" (click)="onClick()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

</nav>
</div>