<div class = "menu">
<ul class="menu-content">
    <li>
      <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
    </li>
    <li>
      <a [routerLink]="['/repertuar']" routerLinkActive="router-link-active">Movies</a>
    </li>
    <li>
      <a [routerLink]="['/priceList']" routerLinkActive="router-link-active">Prices</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="router-link-active">Promos</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="router-link-active">VR</a>
    </li>

    
  </ul>
</div>